.signup .container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
  
.signup .flair{
    display: flex;
    flex-direction: column;
    width: 35%;
    background: #f0cf7f;
}



.signup .text-box{
    margin: 12%;
    display: flex;
    flex-direction: column;
}

.signup img.logo {
    max-width: 30%;
    margin-bottom: 12px;
    height: auto;
}

.signup img {
    width: 100%;
}

.signup .subheading {
    color: #846014;
    font-size: 2vw;
}

.signup .text{
    font-family: Arial, Helvetica, sans-serif;
}

.signup .function{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: scroll;
}

.signup form{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.signup .form{
    width: 100%;
    flex-grow: 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
        "name username"
        "email email"
        "password password";
    column-gap: 10px;
}

.signup .heading{
    width: 50%;
}

.signup .form-element{
    margin: 20px 0;
    position: relative;
    display:inline-block;
}

.signup .name{
    grid-area: name;
}

.signup .username{
    grid-area: username;
}

.signup .email{
    grid-area: email;
}

.signup .password{
    grid-area: password;
}

.signup label {
    padding: 5px;
    margin: 5px;
    pointer-events: none;
    position:absolute;
    left:0;
    top:0;
    transition: 0.2s;
    transition-timing-function: cubic-bezier(0.25, 0.1, 0.25, 1);
    opacity:0.5;
    background: #f3f3f3;
}

.signup .input {
    width: 100%;
    background-color: #f3f3f3;
    border: 0;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
}

.signup input:focus + label, input:not(:placeholder-shown) + label {
    opacity:1;
    transform-origin: 0 0;
    transform: scale(0.65) translateY(-73%) translate(-14px);
    background: #fff;
}

.signup input:focus {
    background-color: #fff;
}

.signup .agreement{
    display: flex;
    font-size: 15px;
    margin-top: 20px;
}

.signup input[type="checkbox"] {
    margin: 4px;
    top: 0;
    margin-left: 0px;
    width: 20px;
    height: 20px;
    accent-color: #f033c4;
    cursor: pointer;
}
  
.signup button[type="submit"]{
    width: 200px;
    margin-top: 40px;
    height: 40px;
    background-color: #ea4b8b;
    border: 0;
    border-radius: 10px;
    font-size: 100%;
    cursor: pointer;
}

.signup button:hover{
    background-color: #ef2576;
}

@media (max-aspect-ratio: 1/1) {
    .signup .container {
        flex-direction: column;
        overflow: auto;
    }

    .signup img.logo{
        margin-bottom: 0px;
        max-width: 20%;
    }

    .signup .flair{
        width: 100%;
    }

    .signup .text-box{
        margin: 25px;
        align-items: center;
        justify-content: center;
    }

    .signup .subheading, .flair-image, #credit {
        display: none;
    }

    .signup .function{
        justify-content: start ;
    }

    .signup .form{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas: 
            "name"
            "username"
            "email"
            "password";
    }

    .signup form{
        align-items: center;
    }
}